doctype html
html(lang="en")
  head
    include ../common/views/header/title.pug
    include ../common/views/header/meta.pug
    include ../common/views/header/css.pug
    include ../common/views/header/icon.pug

  body
    include ../common/views/menu/topnav.pug
    include ./subs/why.pug

    button#api Try ajax
    div#userarea.block

    include ../common/views/footer/scripts.pug