div.logo.block
 
  div
    img(src='/images/ts-logo.png')
    img(src='/images/express-logo.png')

  h1 Write 
    a(href='http://expressjs.com/', target='_blank') Express.js
    |  based website via
    a(href='https://www.typescriptlang.org/', target='_blank') TypeScript