/* why */
.why {
    padding: 5px;
    border: 1px solid #D8D8D8;
    border-radius: 2px;
    background-color: #f7f7f9;
    margin-bottom: 20px;
}
.why h4 {
    margin-left: -60px;
}
.why ul li {
    padding: 3px 0 3px 0;
}

#api {
    display: inline-block;
    width: 150px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    border-radius: 2px;
    border-width: 0;
    background-color: #FE2E2E;
    box-shadow: 2px 2px 1px #a6120d;
    transition: all 0.3s ease 0s;
    font-size: 16px;
}
#api:hover {
    box-shadow: 4px 4px 2px #a6120d;
}
#userarea {
    margin-top: 20px;
}