div.reference.block
 
  h2 Following are the references we required in this scaffold

  ul
    li
      a(href='https://webpack.github.io/', target='_blank') webpack
    li
      a(href='https://code.visualstudio.com/', target='_blank') Visual Studio Code
    li
      a(href='http://expressjs.com/', target='_blank') Express.js
    li
      a(href='https://www.typescriptlang.org/', target='_blank') TypeScript