div.why.block
 
  h4 You may choose it if you are looking for scaffold with:

  ul
    li debugable 
      code Typescript 
      | based node application
    li flexible structure, external libraries can be easily injected
    li robust functionality, no black magic behind, just 
      code Express.js 
      | usage