{% extends "../layout/base.njk" %}

{% block body %}
<section class="landscape">
    <div class="landscape_logo">
        <img src="/images/ts-logo.png"></img>
        <h1 class="landscape_logo_title">TS & Express</h1>
    </div>
    <h2 class="landscape_title">
      Typescript for both server & client side
    </h2>
    <div class="landscape_github">
        <a href="https://github.com/leftstick/ts-express" class="github_button" target="_blank">GitHub (1.0.0)</a>
    </div>
{% endblock %}